@import 'animation';
@import 'menu';
@import 'helper';
@import 'markdown';
@import 'bootstrap-icons/font/bootstrap-icons.scss';

@import '../lib/ChatWindow';

@import '../lib/MediaPreview/MediaPreview';

@import '../lib/Room/Room';
@import '../lib/Room/RoomHeader/RoomHeader';

@import '../lib/Room/RoomFooter/RoomFooter';
@import '../lib/Room/RoomFooter/RoomAttachmentPicker/RoomAttachmentPicker';
@import '../lib/Room/RoomFooter/RoomEmojis/RoomEmojis';
@import '../lib/Room/RoomFooter/RoomMessageReply/RoomMessageReply';
@import '../lib/Room/RoomFooter/RoomFiles/RoomFiles';
@import '../lib/Room/RoomFooter/RoomFiles/RoomFile/RoomFile';
@import '../lib/Room/RoomFooter/RoomUsersTag/RoomUsersTag';
@import '../lib/Room/RoomFooter/RoomTemplatesText/RoomTemplatesText';

@import '../lib/RoomsList/RoomsList';
@import '../lib/RoomsList/RoomContent/RoomContent';
@import '../lib/RoomsList/RoomCallContent/RoomCallContent';
@import '../lib/RoomsList/RoomsSearch/RoomsSearch';

@import '../lib/Room/RoomMessage/RoomMessage';
@import '../lib/Room/RoomMessage/AudioPlayer/AudioPlayer';
@import '../lib/Room/RoomMessage/AudioPlayer/AudioControl/AudioControl';
@import '../lib/Room/RoomMessage/MessageActions/MessageActions';
@import '../lib/Room/RoomMessage/MessageFiles/MessageFiles';
@import '../lib/Room/RoomMessage/MessageFiles/MessageFile/MessageFile';
@import '../lib/Room/RoomMessage/MessageReactions/MessageReactions';
@import '../lib/Room/RoomMessage/MessageReply/MessageReply';

@import '../components/EmojiPickerContainer/EmojiPickerContainer';
@import '../components/FormatMessage/FormatMessage';
@import '../components/Loader/Loader';
@import '../components/SvgIcon/SvgIcon';
@import '../components/ProgressBar/ProgressBar';



// Upload Effects
@keyframes vac-border-dance {
    0% {
        background-position: 0 0, 100% 100%, 0 100%, 100% 0;
    }

    100% {
        background-position: 100% 0, 0 100%, 0 0, 100% 100%;
    }
}

.vac-drag-overlay {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(var(--chat-primary), 0.1);
    z-index: 2000;
    pointer-events: none;
}

.vac-drag-overlay-border {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background: lime;
    border: 10px dashed red;
    // background: linear-gradient(90deg, var(--chat-primary) 50%, transparent 50%), linear-gradient(90deg, var(--chat-primary) 50%, transparent 50%), linear-gradient(0deg, var(--chat-primary) 50%, transparent 50%), linear-gradient(0deg, var(--chat-primary) 50%, transparent 50%);
    // background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    // background-size: 30px 4px, 30px 4px, 4px 30px, 4px 30px;
    // animation: vac-border-dance 20s infinite linear;
    pointer-events: none;
    opacity: 0.2;
}

.vac-drag-overlay-indicator {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-color: var(--chat-primary);
    padding: 10px 20px;
}